WebApplication5/WebApplication5/Web.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="urn:schemas-microsoft-com:asm.v1" />
  <xs:element name="configuration">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="configSections">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="section">
                <xs:complexType>
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="type" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="paypal">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="settings">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="add">
                      <xs:complexType>
                        <xs:attribute name="name" type="xs:string" use="required" />
                        <xs:attribute name="value" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="log4net">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="appender">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="file">
                      <xs:complexType>
                        <xs:attribute name="value" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="appendToFile">
                      <xs:complexType>
                        <xs:attribute name="value" type="xs:boolean" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="layout">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="conversionPattern">
                            <xs:complexType>
                              <xs:attribute name="value" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="type" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="type" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="root">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="level">
                      <xs:complexType>
                        <xs:attribute name="value" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="appender-ref">
                      <xs:complexType>
                        <xs:attribute name="ref" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="appSettings">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="add">
                <xs:complexType>
                  <xs:attribute name="key" type="xs:string" use="required" />
                  <xs:attribute name="value" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="system.web">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="compilation">
                <xs:complexType>
                  <xs:attribute name="debug" type="xs:boolean" use="required" />
                  <xs:attribute name="targetFramework" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="trust">
                <xs:complexType>
                  <xs:attribute name="level" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="pages">
                <xs:complexType>
                  <xs:attribute name="controlRenderingCompatibilityVersion" type="xs:decimal" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="system.webServer">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="defaultDocument">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="files">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="add">
                            <xs:complexType>
                              <xs:attribute name="value" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="enabled" type="xs:boolean" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="runtime">
          <xs:complexType>
            <xs:sequence>
              <xs:element xmlns:q1="urn:schemas-microsoft-com:asm.v1" ref="q1:assemblyBinding" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>